
@{
    ViewData["Title"] = "Calendar";
    Layout = "_LayoutStudio";

}

@model CalendarSearchVM

<link href="~/css/Calendar.css" rel="stylesheet" />

<form method="post" id="frmReportCalendar" class="mediumForm">
    <div class="card border m-3 w-auto">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label  for="Year">Година:</label>
                        <select class="form-control" asp-for="Year" asp-items="@Model.AllYears"></select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Month">Месец:</label>
                        <select class="form-control" asp-for="Month" value="@DateTime.Now.Month">
                            <option value="1">Януари</option>
                            <option value="2">Февруари</option>
                            <option value="3">Март</option>
                            <option value="4">Април</option>
                            <option value="5">Май</option>
                            <option value="6">Юни</option>
                            <option value="7">Юли</option>
                            <option value="8">Август</option>
                            <option value="9">Септември</option>
                            <option value="10">Октомври</option>
                            <option value="11">Ноември</option>
                            <option value="12">Декември</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <calendar month="@Model.Month" year="@Model.Year" show-current-week="false" events="@Model" />
    </div>
</form>
<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/js/Calendar.js"></script>