

@{
    ViewData["Title"] = "User";
    Layout = "_LayoutStudio";
}


@model User

<link href="~/css/User.css" rel="stylesheet" />
<div class="container emp-profile">
    <form asp-controller="User" asp-action="ChangePhoto">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                    <div class="file btn btn-lg">
                        Change Photo <input asp-for="@Model.PhotoUrl" type="file" name="file" />
                    </div>
                    Sybmit <input type="submit">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Model.Username
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="button" data-toggle="modal" data-target="#EditModal" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                <input type="submit" asp-controller="Account" asp-action="LogOut" class="profile-edit-btn mt-3" name="btnAddMore" value="Log out" />
                <input type="button" id="bDelete" class="profile-edit-btn mt-3 w-75" value="Delete profile" />
            </div>
        </div>
    </form>
        <div id="infoUser" class="row">
            <div class="col-md-8">
                <div class="profile-tab">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Username</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Email</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Studio name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.StudioName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Number of students</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.NumberOfStudents</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Number of classes</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.NumberOfClasses</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Number of instructors</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.NumberOfInstructors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- Modal -->
<form method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title ml-3 mt-3" id="exampleModalLabel">Edit profile</h5>
                    @*<img src="~/Pictures/salsaFace.jpg" alt="instructor" class="ml-4" width="70" height="70" />*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a> Change username</a>
                    <input asp-for="Username" type="text" class="modal-input " id="Username" value="@Model.Username">
                    <a> Change studio name</a>
                    <input asp-for="StudioName" type="text" class="modal-input " id="StudioName" value="@Model.StudioName">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button asp-controller="User" asp-action="Edit" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/js/User.js"></script>
}